@import 'template';

.toycard {
  background: $hex-prime3;
  color: $hex-second0;
}

.modal {
  background: $rgba-second2;
  color: $rgba-prime0;
}

#move-left {
  margin-left: -15px;
}

#db-in a,
#db-out a {
  color: $hex-prime4;
}